#projects {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.projectsDesc {
    font-weight: 300;
    font-size: 1rem;
}

.projectImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.projectBtn {
    padding: 0.5rem 2.5rem;
    background: white;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    margin: 3rem 0;
}

.cardContainer {
    max-width: 55rem;
    border-radius:  1rem;
    box-shadow: 0px 10px 8px #202020;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    background-color: rgb(50, 50, 50);
    height: 22.2rem;
}

.projectImg {
    border-radius: .5rem;
    object-fit: cover;
    flex: 1;
    margin: 0.5rem;
    max-width: 49%;
}

.cardDesc {
    flex: 1;
    max-width: 49%;
}

h3 {
    font-weight: bold;
}

.software {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.software > p {
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 2px 2px 8px #202020;
    font-weight: bold;
    margin: .2rem;
}

@media screen and (max-width:600px) {
    .cardContainer {
        flex-direction: column;
        height: 33.3rem;
    }
    .projectImg, .cardDesc{
        max-width: 100%;
        max-height: 17.5rem;
    }
}

@media screen and (min-width: 601px) {
    .cardContainer:nth-child(even) {
        flex-direction: row-reverse; /* Reverse the layout for even cardContainers */
    }
}